<?xml version="1.0"?>
<robot name="meca500_tool_needle" xmlns:xacro="http://www.ros.org/wiki/xacro">
    
    <!-- <link name="world_base">
    </link>
    
    <joint name="world_base" type="fixed">
        <parent link="world_base"/>
        <child link="dummy_needle_base"/>
        <origin rpy="0 0 0" xyz="0 0 0"/>
      </joint> -->

    <link name="dummy_needle_base">
    </link>

    <link name="dummy_needle_ball_link">
        <collision>
            <origin xyz="0 0 0" rpy="0 0 0"/>
            <geometry>
            <sphere radius="0.002"/>
            </geometry>
        </collision>
        <visual>
            <origin xyz="0 0 0" rpy="0 0 0"/>
            <geometry>
                <sphere radius="0.001"/>
            </geometry>
            <material name="red">
            <color rgba="1.0 0.0 0.0 1.0"/>
            </material>
        </visual>
    </link>

    <link name="dummy_needle_cylinder_link">
        <collision>
            <origin xyz="0 0 0" rpy="0 ${pi / 2} ${-pi / 2}"/>
            <geometry>
            <mesh filename="package://mecademic_description/meshes/dummy_needle_tool.stl" />
            </geometry>
        </collision>
        <visual>
            <origin xyz="0 0 0" rpy="0 ${pi / 2} ${-pi / 2}"/>
            <geometry>
            <mesh filename="package://mecademic_description/meshes/dummy_needle_tool.dae" />
            </geometry>
        </visual>
    </link>

<joint name="dummy_needle_yaw_joint" type="revolute">
        <parent link="dummy_needle_base"/>
        <child link="dummy_needle_yaw_link"/>
        <axis xyz="1 0 0 "/>
        <!-- <origin xyz ="${xyz}" rpy="${rpy}"/> -->
        <origin xyz ="0 0 0" rpy="0 0 0"/>
        <limit lower="-${pi / 2}" upper="${pi / 2}" effort="1000" velocity="50.0"/>
    </joint>

    <link name="dummy_needle_yaw_link">
    </link>

    <joint name="dummy_needle_pitch_joint" type="revolute">
        <parent link="dummy_needle_yaw_link"/>
        <child link="dummy_needle_pitch_link"/>
        <axis xyz="0 1 0"/>
        <limit lower="-${pi / 2}" upper="${pi / 2}" effort="1000" velocity="50.0"/>
    </joint>

    <link name="dummy_needle_pitch_link">
    </link>

    <joint name="dummy_needle_roll_joint" type="revolute">
        <parent link="dummy_needle_pitch_link"/>
        <child link="dummy_needle_roll_link"/>
        <axis xyz="0 0 1"/>
        <limit lower="-${pi / 2}" upper="${pi / 2}" effort="1000" velocity="50.0"/>
    </joint>

    <link name="dummy_needle_roll_link">
    </link>

    <joint name="dummy_needle_ball_joint" type="fixed">
        <parent link="dummy_needle_roll_link"/>
        <child link="dummy_needle_ball_link"/>
        <origin xyz="0 0 0" rpy="0 0 0"/>
    </joint>

    <joint name="dummy_needle_insert_joint" type="prismatic">
        <parent link="dummy_needle_ball_link"/>
        <child link="dummy_needle_cylinder_link"/>
        <origin xyz="0 0 .1284" rpy="0 ${pi / 2} ${pi / 2}"/>
        <limit lower="0.0" upper="0.1284" effort="1000" velocity="50.0"/>
    </joint>

    <link name="dummy_needle_tip_link">
        <collision>
            <origin xyz="0 0 0" rpy="0 0 0"/>
            <geometry>
                <sphere radius=".001"/>
            </geometry>
        </collision>
        <visual>
            <origin xyz="0 0 0" rpy="0 0 0"/>
            <geometry>
                <sphere radius=".001"/>
            </geometry>
            <material name="red">
            <color rgba="1.0 0.0 0.0 1.0"/>
            </material>
        </visual>
    </link>

    <joint name="dummy_needle_tip_joint" type="fixed">
        <parent link="dummy_needle_cylinder_link"/>
        <child link="dummy_needle_tip_link"/>
        <origin xyz="0.1284 0 0" rpy="${pi / 2} 0 ${-pi / 2}"/>
    </joint>
</robot>